streamlit
streamlit-autorefresh
firebase-admin
pandas
pymysql
mysql-connector-python
sqlalchemy
plotly
XlsxWriter
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
streamlit-js-eval
fastapi
uvicorn
